[2018-07-18 14:06] davecoggins opened #1 "Possible bug when using single array"
Hi

I'm running into a bug when using the same code from my Craft 2 setup on Craft 3. I've simplified to just a single example:

The following works:

```{{ entry.body | retconAttr('h3', { class: 'heading' }) }}```

However when passed in a single array, this throws an error:

    {{ entry.body | retcon([
        ['attr', 'h3', { class: 'heading' }]
    ]) }}

The error I get is:

```Missing argum

[2018-07-19 06:52] codecreate opened #2 "retconSrcset is encoding <p> tags"
I am using the retconSrcset method to modify image tags that come from a redactor field in a Craft 3 matrix but paragraph and a tags are being encoded to html entities.

Any ideas on a resolution or is it a bug?

[2018-07-19 07:05] mmikkel commented on #2
Hi @codecreate – which version of Retcon are you using?

[2018-07-19 07:06] mmikkel commented on #1
Hi @davecoggins – thanks for contributing; I'm looking into it ASAP.

[2018-07-19 07:16] mmikkel commented on #2
Nevermind, bug confirmed. Thank you for reporting, I'll get it sorted ASAP.

[2018-07-19 07:41] codecreate commented on #2
Thanks. Looking to launch this project in the next couple of days so I'll stay tuned.

[2018-07-19 07:50] mmikkel commented on #2
@codecreate This issue should be resolved in [v. 2.0.1](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.0.1).

[2018-07-19 07:50] #2 closed

[2018-07-19 07:51] mmikkel commented on #1
This issue should be resolved in [v. 2.0.1](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.0.1).

[2018-07-19 07:51] #1 closed

[2018-07-19 08:01] davecoggins commented on #1
Hi @mmikkel,

Thanks for looking into this so quickly for me, I can confirm all is working well 👍

Btw - retcon is an awesome plugin, works really well with tailwindcss.

Cheers
Dave

[2018-07-19 08:06] mmikkel commented on #1
Awesome @davecoggins – thanks for the kind words. Let me know if you encounter any other issues going forward!

[2018-07-25 07:43] codecreate commented on #2
Hi,

The srcset tag is not being created at all now. Craft and Retcon are both up to date.

Thanks

Andy

[2018-07-25 08:20] mmikkel commented on #2
Hi @codecreate, I assume you're using the "catch-all" filter `retcon` – I identified an issue with that and the `srcset` method.

The "standalone" `retconSrcset` filter seems to work as it should; will issue a fix for the `retcon` filter ASAP.

[2018-07-25 08:21] mmikkel opened #3 ""srcset" not working when used via the `retcon` "catch-all" filter"
Referenced in #2

[2018-07-25 08:29] codecreate commented on #2
Yes. Using the srcset method. It was working before you fixed the other issue but I only noted that it wasn't working at all during some uat today.

Thanks.

On 25 July 2018 6:20:49 pm AEST, "M. Mikkel Rummelhoff" <notifications@github.com> wrote:

----------
Sent from the mobile office of Code Create

[2018-07-25 08:32] mmikkel commented on #2
Yeah, it's actually not an issue with the `srcset` method; it's a regression error in the `retcon` method that was introduced in the 2.0.3 update. I should have a fix up shortly; if it's critical you can use the `retconSrcset` filter directly, for now.

[2018-07-25 08:43] codecreate commented on #2
Totally awesome. I've left work for the day so not an issue, at least until tomorrow and I can change to the other method if I need to.

Thanks.

On 25 July 2018 6:32:08 pm AEST, "M. Mikkel Rummelhoff" <notifications@github.com> wrote:

----------
Sent from the mobile office of Code Create

[2018-07-25 08:52] mmikkel commented on #3
Fixed in [the 2.0.4 release](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.0.4).

[2018-07-25 08:52] #3 closed

[2018-07-25 08:52] mmikkel commented on #2
The issue should be resolved in [the 2.0.4 release](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.0.4).

[2018-07-25 23:18] codecreate commented on #2
Updated this morning and not seeing the srcset output using the retconSrcset filter

`
{{ block.itemContent|retconSrcset(
							[
							    'inlineSmall',
							    {width: 848},
							    'inlineLarge',
							    {width: 414}
							]
						) }}
`
Standard img tags are being printed
`<figure><img src="http://www.lemonade.com.au/staging/public_html/uploads/FPV_14.jpg" alt=""><figcaption>Orang

[2018-07-25 23:30] mmikkel commented on #2
Hm, not able to reproduce this @codecreate. Just tested with identical code to yours + using the `retcon` filter, both with and without Imager installed, and everything works on my end.

1. Do you have `devMode` turned on?
2. Are you sure your template isn't cached?
3. Your `src` attribute looks a bit odd – do you have a folder called `public_html` below your public web root? Does the image actual

[2018-07-25 23:36] mmikkel commented on #2
Also, please test the `retconTransform` filter, just to see if that works for you:

`{{ block.itemContent|retconTransform( 'inlineSmall' ) }}`

[2018-07-25 23:42] codecreate commented on #2
Everything loads perfectly. Just not parsed into the srcset tags. Redactor version 2.1.3 and Retcon 2.0.4

All cache cleared.

[2018-07-25 23:45] codecreate commented on #2
The retconTransform filter returns nothing at all. No content from block.itemContent what so ever.

[2018-07-25 23:47] mmikkel commented on #2
That's... weird. Do you have [`devMode`](https://docs.craftcms.com/v2/config-settings.html#general) turned on?

[2018-07-25 23:51] mmikkel commented on #2
I assume that the image filters aren't working because Retcon isn't able to locate your images. What are the values for your Asset Volume's `Base URL` and `File System Path` settings?

[2018-07-25 23:52] mmikkel commented on #2
The `retconTransform` filter returning nothing is very odd, though. There's nothing in the code that should make it return an empty string, e.g. if no images are found or it isn't able to transform anything. Might be a different/another bug, will investigate.

[2018-07-25 23:52] codecreate commented on #2
DevMode was on but tested off with the same result. Images are displayed normally without the filter so I don't know that it can be the path.

[2018-07-25 23:53] codecreate commented on #2
All the text is returned normally.

[2018-07-25 23:55] mmikkel commented on #2
It can be, because Retcon just deduces the filepath based on the URL found in the `src` attribute – i.e. if your image URL is `/public_html/uploads/foobar.jpg`, it will look for the image in `@webroot/public_html/`.

[2018-07-25 23:58] mmikkel commented on #2
Hah, I found the bug in `retconTransform` that results in the method returning nothing at all if it isn't able to transform the image. Good call, thanks for drawing my attention to it...

[2018-07-25 23:59] mmikkel commented on #2
Just occurred to me – is your Asset Volume local or remote (S3 or the like)?

[2018-07-26 00:00] codecreate commented on #2
Excellent stuff. Hope that's easy to resolve.

[2018-07-26 00:01] mmikkel commented on #2
Yeah, I already put up a fix in [20ec399](https://github.com/mmikkel/Retcon-Craft/commit/20ec399c1c9383cc82fb90268e3f55aa5b181f0b), will cut a new patch release later.

[2018-07-26 00:13] codecreate commented on #2
OK. Images are now returned but without srcset. My local version returns the srcset ok. Any ideas?

[2018-07-26 00:14] codecreate commented on #2
Probably just the path, right?

[2018-07-26 00:15] mmikkel commented on #2
That depends!

What are the values for your Asset Volume's `Base URL` and `File System Path` settings?

Also, do you have the Imager plugin installed?

[2018-07-26 00:16] codecreate commented on #2
@web/uploads

@webroot/uploads

Not using imager

[2018-07-26 00:18] codecreate commented on #2
Transforms outside of redactor, not using Retcon are all found and display fine.

[2018-07-26 00:30] mmikkel commented on #2
Those settings should normally be good.

I just pushed a commit adding some additional exceptions to the image transform function. If you don't mind helping me out, could you `composer require mmikkel/retcon:dev-master`, make sure `devMode` is on, and report back if you're seeing any exceptions in the front end?

(Might also need to put [`"minimum-stability": "dev"`](https://getcomposer.org/doc/04

[2018-07-26 00:42] codecreate commented on #2
Will do that now.

[2018-07-26 00:50] codecreate commented on #2
Done. No exceptions.

[2018-07-26 00:59] mmikkel commented on #2
Hm, and devMode is enabled?

[2018-07-26 01:05] codecreate commented on #2
Ah, nope. Hadn't turned on devMode on staging

`yii\base\Exception: Image /hsphere/local/home/lemphp/lemonade.com.au/staging/public_html//staging/public_html/uploads/RMBL_13.jpg not found in /hsphere/local/home/lemphp/lemonade.com.au/staging/vendor/mmikkel/retcon/src/library/RetconHelper.php:183
Stack trace:
#0 /hsphere/local/home/lemphp/lemonade.com.au/staging/vendor/mmikkel/retcon/src/services/R

[2018-07-26 01:09] mmikkel commented on #2
Cool, it’s what I expected; a path issue. It’s nighttime here, but I’ll take a stab at it tomorrow and try to figure out where it goes wrong. Thanks for the help so far!

[2018-07-26 01:11] codecreate commented on #2
Thanks for everything.

[2018-07-26 09:12] mmikkel commented on #2
@codecreate I pushed a new commit – it'd be great if you'd do a `composer update mmikkel/retcon`, and let me know how it works.

[2018-07-26 09:14] codecreate commented on #2
I'll do it in the morning. Probably about 14 hrs from now.

On 26 July 2018 7:12:41 pm AEST, "M. Mikkel Rummelhoff" <notifications@github.com> wrote:

----------
Sent from the mobile office of Code Create

[2018-07-26 22:56] codecreate commented on #2
Composer says there's nothing to update

[2018-07-27 17:51] mmikkel commented on #2
@codecreate That's odd. Can you confirm that you have `"mmikkel/retcon": "dev-master"` in your `composer.json`, and not `"mmikkel/retcon": "^2.0"`? Also make sure that you've got `"minimum-stability": "dev"` in there.

You might also try `composer update mmikkel/retcon:dev-master`, but it shouldn't be necessary.

In any case, if Composer says there's nothing to update, and you're definitely pullin

[2018-07-28 10:57] mmikkel commented on #2
FWIW; I've cut a release for the latest commits now, because I wanted to make the bug fix for `retconTransform` available: https://github.com/mmikkel/Retcon-Craft/releases/tag/2.0.5

[2018-08-05 16:18] RitterKnightCreative opened #4 "Expected selector, but <delimiter "(" at 0> found."
Just upgraded to 2.0.   Using this example snippet from the [srcSet docs](https://github.com/mmikkel/Retcon-Craft/wiki/srcset) seems to break Symfony:

[code]

Now getting a Symfony XPath error, "expected selector", but <delimiter "(" at 0> found.

Tried adding an "img" selector, for example, to the 3rd parameter has no effect and gives the same error.

Not sure of it's related to #2, I see the fi

[2018-08-05 17:28] mmikkel commented on #4
Hi @RitterKnightCreative – you're running into one of the few breaking API changes in Retcon 2.x, and unfortunately the docs are not up to date (I'll get to it ASAP, but busy days).

The signature for `retconSrcset` has changed – the new `selector` parameter is actually the second parameter – not the third, making `sizes` the third parameter.

In other words, this should do the trick:

[code]

Not

[2018-08-05 17:28] #4 closed

[2018-08-05 19:49] RitterKnightCreative commented on #4
@mmikkel great, thank you that worked!

Seems to work fine within a regular redactor instance but if it's in a matrix block, I'm still seeing some breakage. (At least those cases are few and far between...)

[2018-08-05 19:50] mmikkel commented on #4
What kind of breakage? :)

[2018-08-05 20:03] RitterKnightCreative commented on #4
OK so did a little more investigating. Client had a block with some empty content. Didn't affect anything else but Retcon was breaking on null.

[2018-08-05 20:06] mmikkel commented on #4
@RitterKnightCreative Thanks! That's weird though – if Retcon is fed `false`, `null` or an empty string it's supposed to just return an empty string.

I'll do some more testing, but to clarify; it was an empty Redactor field that caused the error?

[2018-08-05 20:12] RitterKnightCreative commented on #4
Yeah, empty Redactor.  Could be Craft doing something funky as well but threw me for a loop when I saw it.

Here's the trace...

[code]

[2018-08-07 09:12] mmikkel commented on #4
@RitterKnightCreative Thanks for the stack trace!

I actually didn't account for Redactor fields returning `NULL` in some instances. Fixed in [v. 2.0.7](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.0.7) and that exception shouldn't happen any more.

[2018-08-16 03:01] RitterKnightCreative commented on #4
You rock sir.

[2018-08-31 01:00] codecreate opened #5 "Default img for src when using srcsetq"
Hi,

Is there any parameter or way to determine the default image for the img tag when using |retconSrcset?

Ideally I want to select a transform for the default image, not the original?

Thanks
Andy

[2018-10-03 00:39] codecreate commented on #5
Hi,

Any feedback on this?

Andy

[2018-10-08 00:04] mmikkel commented on #5
Hi @codecreate, sorry for the delayed reply.

I'm not quite sure I understand what you're looking for here. Could you please elaborate/be more specific (possibly describe a use case)?

[2018-10-08 04:01] codecreate commented on #5
Hi,

Here's a srcset block created by retcon on a production site. It all looks good and works fine but the src attribute is the original image that was uploaded. It's a larger image than we ever want to include on the site and we're working hard to optimise the website for performance. What I want to do is make the src attribute load up a smaller transformed version of the image.

<img alt="Heart

[2018-10-08 07:00] mmikkel commented on #5
The easiest option would be to use `retconTransform` as a second filter after `retconSrcset`:

[code]

However, I notice that your `img` tag is actually missing its `src` attribute – it's called `data-src` instead – so the above won't work (`retconTransform` will only look at the `src` attribute).

If you can, I'd rename the `data-src` attribute to `src`, use `retconTransform` as in the example ab

[2018-10-08 07:00] #5 closed

[2018-10-08 23:32] codecreate commented on #5
Thanks

[2018-11-23 19:35] readtedium opened #7 "retconRemoveEmpty('p') removes HTML tags"
Hey there, thanks for the useful plugin, it came highly recommended on the Craft Slack channel. I've run into an issue that I just wanted to flag. The problem is this: I want to remove empty P tags because they interact with div tags on my editor in weird ways. However, I find that, for whatever reason, the tags get too aggressive about removing lines that simply have HTML baked inside, but with n

[2018-11-25 23:35] readtedium commented on #7
Thanks for the heads-up on this. I appreciate you letting me know.

[2018-12-10 14:04] LouisCuvelier commented on #4
Hi,

I want just let you know that the [wiki](https://github.com/mmikkel/Retcon-Craft/wiki/srcset) is still not up to date 😉

Thanks for the plugin !

[2019-01-15 09:22] monachilada opened #8 "Composer conflicts with symfony/css-selector"
There appears to be a conflict in installing the plugin via the command line. From what I can tell, one or other packages is using a newer version of the `symfony/css-selector` package, but as your package defines a specific version of 3.3.6 it throws some sort of conflict.

My guess would be that your composer file could require a `^3.3.6` or `~3.3.6` or something like that and it might solve the

[2019-01-15 09:31] mmikkel commented on #8
Hey @monachilada – thanks for contributing.

The reason why Retcon requires that specific version of `symfony/css-selector` is that later versions requires PHP 7.1. [Craft's starter Composer project](https://github.com/craftcms/craft) has a `platform` declaration of `"php": "7.0"` in its `composer.json` file, meaning that any projects bootstrapped using that starter project wouldn't be able to ins

[2019-01-15 09:33] monachilada commented on #8
Ah, that makes sense. I was able to workaround it by also specifically requiring `3.3.6` in my own composer file, but time will tell if that has any unintended consequences for other packages requiring a later version. For now it's working fine for my use case. Thanks for the feedback.

[2019-01-25 09:42] mmikkel commented on #8
Related: https://github.com/verbb/feed-me/issues/440#issuecomment-455729490

[2019-02-11 01:01] piotrpog opened #9 "Add "this" variable representing content of currently modified element"
It would allow to do things like wrapping headers with `<a>` links and creating `href` attribute based on header content.

[2019-02-11 01:34] piotrpog opened #10 "Cannot enter "correct header hierarchy" page in wiki"
All i see is "You do not have permission to update this wiki." message.

[2019-02-19 17:24] LouisCuvelier opened #11 "Get image's height and width with retconTransform"
Hey,

Thanks for this very useful plugin ! 💯

I'm combining Retcon with lazysizes.js and Imager. I'm trying to calculate ratio to set the padding-bottom. I would like to reproduce this :
[code]

So, how I can retrieve image's width and height ?

Presently, It looks like this :
[code]

[2019-06-07 14:19] nateiler commented on #8
Looking at the `composer.json` file.  I would expect to see semantic support of the symfony packages.

[code]

You shouldn't see any breaking changes in any of the 3.x packages, but you would get any buy, security and performance improvements from releases > 3.3.6.

[2019-09-03 10:38] haabe opened #12 "Srcset examples are wrong (v2.0.12)"
According to the [examples](https://github.com/mmikkel/Retcon-Craft/wiki/srcset), the parameters are transform, sizes, base64-encoding.

The source code has a selector parameter inbetween transform and sizes. Not defining the selector causes the plugin to crash when you define sizes.

[2019-09-04 22:00] piotrpog opened #13 "retconOnly - nth-of-type sometimes works, sometimes not"
I noticed that using `nth-of-type` in selector works when i do this:

[code]
But does not work when `img` tags are wrapped in `<figure>` like this:

[code]

In such a situation, whole HTML is returned.

[2019-09-04 22:02] piotrpog opened #14 "retconOnly - return null when element was not found at all"
When I use `retconOnly` to look for example for images, and there are no images present in html, whole html is returned.

Wouldnt it make more sense to return null in such a situation? Or make such behaviour optional, by adding a new parameter to filter.

[2019-09-05 17:54] mmikkel commented on #14
Hi @piotrpog, thanks for reporting.

I concur that `retconOnly` should return `null` (or an empty string) if the selector matches no elements. I'll get a fix out soon-ish!

[2019-09-05 17:57] mmikkel commented on #13
Hi @piotrpog, thanks for reporting.

This _might_ be an issue with the Symfony DomCrawler library and not Retcon per-se (in which case a fix might be difficult to accomplish), but I'll take a closer look ASAP and see if there's anything I can do about it.

[2019-09-08 21:01] piotrpog opened #15 "allow retconAttr use objects for styles"
Lately, I have been using `attr` function added in craft 3,2 and `tag` function added in craft 3.3. These functions can take objects consisting of key-value pairs and transform them into inlined css - like this object:
[code]
Unfortunately, I cannot use such an object with `retconAttr` function, i have pass css to it as a string:
[code]

[2019-09-09 07:16] mmikkel commented on #12
Hi @haabe – thanks for reporting. The signature for `retconSrcset` changed a bit between Craft 2 and Craft 3, and I've neglected to update the docs. Will fix ASAP :)

[2019-09-10 15:01] mmikkel commented on #13
Hi @piotrpog, the `nth-of-type` selector is indeed [not supported in DomCrawler](https://symfony.com/doc/3.3/components/css_selector.html#limitations-of-the-cssselector-component).

[2019-09-10 15:01] #13 closed

[2019-09-10 16:48] piotrpog commented on #13
@mmikkel
Yet it somehow IS supported :) I don't mean to say that you have to fix domcrawler itself, but in my first example, it actually worked alright.

[2019-09-10 17:05] mmikkel commented on #13
@piotrpog Yeah, I agree that the behaviour is odd (in that it's not consistent)...

[2019-09-29 18:32] benface opened #16 "[Feature Proposal] `retconWrapInner` filter"
To turn this:

[code]

into this:

[code]

[2019-09-29 18:37] mmikkel commented on #16
@benface Thanks for contributing! I've meant to implement an `innerWrap` filter for a while now; just haven't gotten around to it. Agree it would be very useful.

As a temporary workaround, the below actually works – but if your `<button>` has attributes (i.e. `class`, `onclick` or whatever) it isn't actually a solution:

[code]

[2019-10-06 10:57] cecilehabran opened #17 "Autoalt doesn't use asset's title"
The `autoAlt` always renders the asset's filename (which is not really useful for the SEO). How do you feed Retcon with reference tag tho? I tried the `craft.retcon.autoAlt()` method and it's the same.

Craft and Retcon are up-to-date.

[2019-10-06 16:20] mmikkel commented on #17
Hi @cecilehabran –

Reference tags (i.e. stuff like `<img src="{asset:343:url}"/>`) are usually found in the output from Redactor fields etc. (the reference tags get parsed before the Redactor content is printed to the page). So, assuming you're using Retcon on something like the output from a Redactor field, there isn't anything you need to "do" to feed Retcon reference tags.

This isn't working

[2019-10-11 13:42] rtgoodwin opened #18 "Plugin won't install"
Ok this is a tricky one.

Craft 3.3.9, all dependencies up to date.

Followed the instructions to `require` the package, and ran `composer update`. Verified:
- package is in JSON and lock
- `vendor/mmikkel/retcon` directory exists
- retcon is listed in `plugins.php`
- Retcon is shown in General->Plugins as not installed

Trying to install from this screen, or `craft install/plugin retcon` both res

[2019-10-12 07:08] mmikkel commented on #18
Hi @rtgoodwin - this is a new one.

Can you open up a file called `vendor/craftcms/plugins.php`, and see if there's an entry like the below in there:

[code]

[2019-10-12 14:07] rtgoodwin commented on #18
Yep, entry is there:
[code]

I haven't, as this is a production site; although I'm told this is generally OK, some reassurance (or ideas to back up properly) would be nice :)

Honestly I haven't tried just _using_ the plugin, since the CP doesn't report it as installed.

I'm on the Craft Discord server (RichardG) if you want to hit me up for more questions as well.  Thanks for looking into it!

[2019-10-12 14:11] rtgoodwin commented on #18
I just noted the `documentationUrl` is different in mine; not sure if that's any kind of clue.

[2019-10-12 15:52] mmikkel commented on #18
To be honest, I have no idea what could cause this behaviour... I'd get in touch with P&T to see if they've encountered it before.

[2019-10-14 22:23] #11 closed

[2019-10-24 04:43] faradaytrs opened #19 "How do i transform img to picture tag?"
I can't figure it out
How do i make this: `<img> `
Become this `<picture>sources here</picture>`
Just inserting sizes tags won't work because i need difference sources for webp and jpeg

srcset and sizes are great and i'm glad there is support for that, but unfortunatelly that's not enough to make webp work

[2019-10-24 06:42] faradaytrs commented on #19
I can submit pull request but i would like to know what syntax is better for this?
Basically it's the same with srcset function but it needs to split all sources by types and wrap with picture.

[2020-01-06 11:57] terryupton opened #20 "retconRemoveEmpty missing from the docs"
Just a heads up that the retconRemoveEmpty is missing from the docs.
There is a link on the Readme but it then redirects to the homepage of the docs.

[2020-02-02 22:22] Mosnar opened #21 "Images without a path throw error when passed through lazy filter"
I imported several hundred old blog posts and discovered that some of them had some malformed img tags where the `src` didn't include a path, only the host. This causes retcon to throw an exception, as it expects a path to exist.

This is the html that was being processed:
[code]

And the error:
[code]

Ideally, the exception should be caught and logged rather than breaking the site.

[2020-02-04 10:05] mmikkel commented on #21
Thanks for reporting, @Mosnar. I concur that the exception should be logged and not thrown – will get a fix out ASAP :)

[2020-02-04 10:06] #18 closed

[2020-02-04 10:07] mmikkel commented on #20
Thanks Terry. Yeah, the docs are quite outdated, still.

[2020-03-03 09:46] piotrpog opened #22 "retconTransform - image not found error"
When i use `retconTransform` filter on redactor field, retcon throws error that images within redactor field were not found, which is not the case. Image file path gets duplicated in error:

[code]

Interestingly, when i install Imager, this error disappears.

[2020-03-08 20:38] #21 closed

[2020-03-08 20:38] #17 closed

[2020-03-08 20:48] mmikkel commented on #20
Fixed.

[2020-03-08 20:48] #20 closed

[2020-03-08 20:48] #10 closed

[2020-03-08 20:49] mmikkel commented on #21
Fixed in Retcon v. 2.1.0.

[2020-03-08 20:49] mmikkel commented on #17
Fixed in Retcon 2.1.0.

[2020-03-19 22:07] mikefats opened #23 "Injecting as a 'prepend'"
Is there a trick to inject something *before* existing content?
https://github.com/mmikkel/Retcon-Craft/wiki/Inject
If not, then maybe it could be considered for implementation?

[2020-03-20 07:39] mmikkel commented on #23
Sorry, not that I can think of – and the `retconInject` filter doesn't support prepending.

I'll label this as a feature request, for now :)

[2020-05-26 15:39] terryupton opened #24 "Code breaks if < is used within the redactor field"
Currently, have a situation where the less than character (<) is used within the redactor field.
What is occurring is that content is getting cut off just before this character appears until the next html character. In this instance a new <p> tag.

When outputting this natively with twig code the character renders and there are no issues.

Here is this code for the retcon use case:
[code]

I have

[2020-05-26 15:43] terryupton commented on #24
Oh here is some copy to test with.

WAO application upstream of anaerobic digestion is intended to enhance the biodegradability of the organic matter in the downstream AD reactor. For this duty, lower temperatures (100–200 °C) and pressures (<20 bar) are used, sometimes with the addition of a catalyst. The WAO performance is measured in terms of the increase in either the liquid−phase organic carb

[2020-05-27 20:41] mmikkel commented on #24
Ouch. Thanks for reporting @terryupton – I'll have a look at this as soon as I have the time.

I spent exactly 30 seconds thinking about this :D but if you need a temporary hotfix, you could maybe try to replace the `<` character with something else, then add the Retcon filter, then convert back to the proper char? I.e. something like this:

[code]

[2020-05-28 09:28] terryupton commented on #24
Thanks @mmikkel - I am still in the development phase so it's not causing me a huge issue. However, hoping it isn't a hugely complicated fix for you. Look forward to the update/patch. :-)

[2020-05-29 16:15] juban opened #25 "retconAttr wrap script tags in an unexpected head tag"
Given the following twig template

[code]

the resulting generated code will be

[code]

instead of

[code]

Looks like the `getHtml` method is injecting the `head` tag when calling the `saveHTML` of the Mastermind HTML5 library (for some reason...).
Changing the regex expression in `getHtml` method to strip the extra head tag seems to work, but could probably lead to some sides effects.

[2020-05-29 20:20] mmikkel commented on #25
Hi @juban – that's odd, thanks for reporting. I'll take a look at it ASAP.

Sidenote: If that's your actual template, you could use the native [`attr`](https://docs.craftcms.com/v3/dev/filters.html#attr) filter instead of Retcon:

[code]

[2020-05-31 16:49] juban commented on #25
Hi @mmikkel

Thank you for your fast feedback. Indeed, the native attr filter is working fine in that use case.
Obviously, the example I gave you is pretty dumb and mostly to demonstrate the issue. (I'm mainly using retcon to alter a set of generated HTML markup).
Anyway, I ran into that strange bug recently because my HTML markup was not validated due to redundant head tags.
I would happily help

[2020-05-31 17:24] mmikkel commented on #25
Hi @juban – I believe I might have a fix for this issue, if you'd be able to help me test it, that'd be great (the fix required a pretty fundamental change to how Retcon reads and writes HTML, so I won't push a release until I'm confident I didn't mess up something else).

To install the fix, do

[code]

[2020-05-31 17:26] mmikkel commented on #24
@terryupton I think I've got a fix for this issue – if you're able to help me test it, that'd be much appreciated.

[code]

I'll cut a new release once I'm confident I didn't break anything else (at that point you can do a simple `composer require mmikkel/retcon` to install the latest stable release).

Thanks!

[2020-05-31 18:00] juban commented on #25
@mmikkel I'll try this ASAP and let you know.

[2020-06-01 07:19] juban commented on #25
@mmikkel Looks pretty good to me. Did some tests on my projects and the bug is gone and I didn't notice any regression. I'm not using anything beside the `retconAttr` filter though, I don't know if the fix could alter other retcon filters. Would you like I test some other specific use cases? Please let me know.

[2020-06-01 08:38] terryupton commented on #24
Hi @mmikkel - thanks for the prompt fix. I will certainly help to test. I will aim to get onto this today/tomorrow and pass some feedback.

[2020-06-01 11:09] mmikkel commented on #24
@terryupton I appreciate that, thanks!

[2020-06-01 11:11] mmikkel commented on #25
@juban Thank you for the feedback. The fix basically changes _all_ the filters (as it's changing how Retcon constructs the DOMDocument, and how it reads out the final HTML). _If you have the time_ to test additional filters for regression errors or other weird behaviour, I'd appreciate it – but no worries if you don't :)

[2020-06-02 07:18] juban commented on #25
Hi @mmikkel,

I'll do my best ;)
Just an idea: how about to setup some unit tests for that? If I have some time I'll try to set that up and I'll let you know.

[2020-06-04 10:40] mmikkel commented on #25
@juban Sure, if you find some time to do that it'd be much appreciated!

[2020-06-04 13:15] terryupton commented on #24
Hi @mmikkel - apologies a day later than I had hoped to get onto this.
I have updated to your dev branch and I have done some testing.
Everything seems to be working nicely now.
I have tested each special character individually throughout the content and there are no breakages. here are the characters I tested.

!@£$%^&*(){}[]_-+=~`;:'""|\?><,.

I am happy and confident this fix has resolved the i

[2020-06-04 13:17] mmikkel commented on #24
Thanks for the feedback @terryupton! Much appreciated.

I'm going to try and get some additional testing done over the weekend and hopefully have a new release out early next week.

[2020-06-04 13:34] terryupton commented on #24
Sounds good.

[2020-07-19 13:23] niallthompson opened #26 "Add support for native lazy loading"
It's our preference to use native lazy loading for images as outlined [here](loading=lazy).

Ideally this plugin could be updated to support that.

[2020-07-19 13:32] mmikkel commented on #26
The link you provided doesn't work, but assuming you're talking about the native `loading` attribute, you can just use the [`retconAttr`](https://github.com/mmikkel/Retcon-Craft/wiki/Attr) filter instead of `retconLazy`, like this:

[code]

...which would add a `loading="lazy"` to all `<img>` tags in `entry.body`.

[2020-07-19 13:47] niallthompson commented on #26
Apologies. Here's the correct link: https://web.dev/native-lazy-loading/

To work I believe it requires no quotations.

[2020-07-19 13:55] niallthompson commented on #26
Actually according to the spec it works just fine with the quotations.

Thanks for the great plugin.

[2020-07-19 13:55] #26 closed

[2020-07-19 13:57] mmikkel commented on #26
Yep, quotes are optional in HTML5 (unless you have a value w/ whitespace) – thanks for the follow-up; cool that it works :)

[2020-07-19 15:05] mmikkel commented on #25
Resolved in [Retcon 2.2.0](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.2.0)

[2020-07-19 15:05] #25 closed

[2020-07-19 15:05] mmikkel commented on #24
Resolved in [Retcon 2.2.0](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.2.0)

[2020-07-19 15:05] #24 closed

[2020-07-19 15:44] mmikkel commented on #22
Not able to reproduce this.

[2020-07-19 15:44] #22 closed

[2020-07-19 16:10] #12 closed

[2020-07-19 16:23] mmikkel commented on #19
Hi @faradaytrs, sorry for the very late reply. Honestly, this is a bit beyond the scope for where I want to take this plugin – I already kinda regret adding the other transform-related filters (just because they're quite complex both to maintain and use) and I don't want to add an additional, even more complex filter to support the `picture` tag.

[2020-07-19 16:23] #19 closed

[2020-07-19 16:43] mmikkel commented on #8
I've changed the Symfony package version constraints to use caret version range in [Retcon 2.2.1](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.2.1) – hopefully this solves the issue.

[2020-07-19 16:43] #8 closed

[2020-07-19 16:44] mmikkel commented on #14
Sorry for the delay – resolved in [Retcon 2.2.1](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.2.1).

[2020-07-19 16:44] #14 closed

[2020-08-01 08:25] tom-byrom opened #27 "Question: Using with ImageOptimze for transforms"
Hello!
Just came across your plugin as was looking for a solution to incorporate image transforms with Redactor Field Images.

This plugin looks like a life save for a number or really useful things when it comes to Redactor - so glad I found it.

I've looked at your transform docs and you integrate well with Imager X which I didn't use and instead created all my transforms with [ImageOptimze](htt

[2020-08-01 10:12] mmikkel commented on #27
I’ve never used ImageOptimize or looked into how it works, but I *think* it just augments Craft’s native transform methods... which is what Retcon uses if Imager is not installed. Could be that it just works out of the box? :)

If not, I’m unlikely to add anything to support it TBH. But, I’d probably accept a pull request!

[2020-08-17 17:27] clarknelson opened #28 "Docs update"
Looks like `./craft install/plugin retcon` in the docs should now be `./craft plugin/install retcon` :)

[2020-09-24 15:14] chanwhab opened #29 "Setting imager config / imgixProfile for retconSrcset"
Retcon use the default imager config for image transform.

Any chance we can pass imager config / imgixProfile etc in the code?
[code]

[2020-11-10 22:14] hugo-costa opened #30 "Question: Compatible with Craft 3.5"
Hi, As above, I was just wondering if this was compatible with Craft 3.5?

[2020-11-11 01:07] mmikkel commented on #30
Should be - we’re running several sites in production on Craft 3.5 that are using Retcon; haven’t seen any issues.

[2020-11-11 01:07] #30 closed

[2020-11-11 01:08] #27 closed

[2021-02-15 14:36] sweetroll commented on #8
Hi @mmikkel, now that the starter project uses Craft 3.6 which has its platform set to 7.2.5, would you be open to bumping the css-selector dependency to the latest (5.*)?

[2021-02-16 07:57] mmikkel commented on #8
@sweetroll Sure, that's a good idea – look for a new release soonish, assuming there aren't any big breaking changes between CssSelector 3 and 5 😬

[2021-02-16 08:37] sweetroll commented on #8
@mmikkel great! thanks for all your work.

[2021-02-25 08:12] superpikar commented on #23
@mikefats I have a similar problem, as a workaround, you can achieve the same result by using `|replace` filter
[code]

[2021-04-12 14:56] sonoflee commented on #29
Seconded - wondering how I can retcon and use srcset with imgix here.  Thanks!

[2021-04-26 12:42] lenvanessen opened #31 "500 - Undefined index 'extension'"
On some occasions, the extension throws a 500-error when trying to apply a transform using the `retconTransform` twig filter.

Twig\Error\RuntimeError An exception has been thrown during the rendering of a template ("Undefined index: extension").
/home/onlyfans/domains/onlyfans.com/releases/20210426123318/templates/pages/_publication.twig:11 Twig\Template::displayBlock
/home/onlyfans/domains/onlyf

[2021-04-27 15:57] #31 closed

[2021-06-22 14:40] nicbou commented on #11
Hey @LouisCuvelier, you closed this ticket without an update. What solution did you find?

[2021-06-28 08:24] LouisCuvelier commented on #11
Hi @nicbou,
I don't know what I've found at the moment, but here's what I used at the moment :

[code]

[2021-10-22 08:54] russback opened #34 "Allow creation of different resolution images"
Would be great if srcset could support images for different resolutions.

[2021-10-22 13:33] #34 closed, assigned to nobody

[2022-03-22 18:42] rob-baker-ar opened #35 "Craft 4 compatibility?"
As above, will the plugin need a new version for Craft 4?

Thanks.

[2022-03-22 18:55] mmikkel commented on #35
Yeah, I'll have a Craft 4 compatible version out in time for the GA.

[2022-04-18 10:52] mmikkel commented on #35
Just tagged [Retcon v. 2.4.0](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.4.0), which is compatible with Craft 4.0.

[2022-04-18 10:52] #35 closed

[2022-04-18 10:53] mmikkel commented on #15
This is resolved in [Retcon v. 2.4.0](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.4.0) – the `retconAttr` filter now mostly behaves like the native `attr` filter, including support for arrays and object attribute values.

[2022-04-18 10:53] #15 closed

[2022-04-19 12:01] RyanRoberts opened #36 "Latest update has broken my use case"
I'm using Retcon (thanks!) to inject some links and attributes into an SVG country map, the attribute let me display a styled HTML tooltip. Since the 2.4.0 update my raw html used by Alpine.js and Tippy is being escaped which is breaking the script and preventing the tooltips showing.

You can see an example of it here if you scroll down to the map https://dmbins.com/ride-guide/#guide-map (you mig

[2022-04-19 12:59] mmikkel commented on #36
Hi @RyanRoberts – sorry about that.

Along with support for non-primitives I added HTML encoding to the `retconAttr` filter in 2.4.0 – to make it a bit more safe + bring it more in-line with how the native `attr` filter behaves. However, this was a breaking change and in hindsight shouldn't have been made in a minor release – so I've just tagged version [2.4.1](https://github.com/mmikkel/Retcon-Cr

[2022-04-19 12:59] #36 closed

[2022-04-19 15:35] RyanRoberts commented on #36
@mmikkel Cool thanks, the native `attr` filter doesn't appear to escape the same html or will that be the case in Craft 4? 🤔

[2022-04-19 17:15] mmikkel commented on #36
@RyanRoberts Nothing's changed with the `attr` filter in Craft 4, but it will definitely encode HTML inside attribute values, exactly like Retcon 2.4.0 did it as per your example above. It'll only happen for the tag that the `attr` filter actually only operates on, though (which is the first tag it encounters).

[2022-04-19 17:21] mmikkel commented on #36
[Here's the method](https://github.com/yiisoft/yii2/blob/master/framework/helpers/BaseHtml.php#L2006) that the `attr` filter uses to actually render the attributes (highlighted the line that would cause the encoding in your case) – it's actually a Yii class.

[2022-05-04 12:16] krizzzly opened #37 "Feature Request: dont apply transforms if image is smaller then the target transformation size"
Hi,

adding the following lines enables us to leave out images that are too small for the desired transformation

`vendor/mmikkel/retcon/src/library/RetconHelper.php:256`

[code]

Maybe we could add a parameter to the twig config array to apply this effect.

Kind regards

[2022-05-16 08:10] espensgr opened #38 "Transform fails if image is svg"
We are using the `retconSrcset` on a redactor field, that can add images.
If you add an svg it fails as imager-x cant do that. Is it possible to skip svg files in the selector for `retconSrcset`?
Or is this an imager-x setting, or bug?

[2022-05-16 08:32] mmikkel commented on #38
The thing is that (AFAIK) Imager _can_ transform SVGs, it depends on the transformer its using. In most cases though, I guess it isn't able to (and you wouldn't want it to), so I guess it'd make sense if Retcon didn't attempt to transform SVGs at all, as a default.

I'll have a think on how to approach this – but in the meantime, a quick workaround is to use the Retcon selector to avoid transformi

[2022-05-16 11:10] espensgr commented on #38
that makes sense, thanks for the solution, will implement it 👍

[2022-06-22 22:41] stuible opened #42 "Add height and width attributes to images based on their size"
I would love if there was a way to add the correct width and height attributes to all images within my HTML.  It's frustrating that Craft CMS doesn't do this automatically and this plugin could really fill that gap.  Thanks for all the great work!

[2022-06-30 21:56] Samuel91 commented on #9
Is this now possible?
I would like to add a "data-href" with the "href" value of each <a> tag, is this possible?

[2022-08-22 08:14] espensgr opened #43 "Undefined array key "width""
Seems to be an error in the latest release

![image](https://user-images.githubusercontent.com/3862891/185870079-bf3d8768-3cf1-4950-a009-22d2e0c3bff3.png)

I'm using the `retconSrcset` in an [Article Editor](https://plugins.craftcms.com/craft-article?craft3) field with an asset added to that.

[code]
Any settings added returns the same error, and the setup has worked until the last release.

Retco

[2022-08-23 15:58] mmikkel commented on #43
Nevermind, that code should've been more defensive :)

Just released [Retcon v. 2.5.0](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.5.0), which should resolve the problem.

[2022-08-23 15:58] #43 closed

[2022-10-12 00:53] AndrewMac opened #44 "Composer requirement for symfony/dom-crawler"
Hello there, and thanks so much for the wonderful plugin!

I'm just having one little issue, though: I was trying to get the markhuot/craft-pest plugin installed, but its composer requirements clashed with those for Retcon.

[code]

Provided there is no compatibility issue, of course, do you think it might be possible to add dom-crawler ^6.0 to Retcon?

The Craft Pest plugin looks really useful, b

[2022-10-12 08:03] mmikkel commented on #44
Resolved in [Retcon 2.6.0](https://github.com/mmikkel/Retcon-Craft/releases/tag/2.6.0) :)

[2022-10-13 02:48] AndrewMac-UTS commented on #44
Thanks so much. Really, really appreciate it :-)

[2022-10-18 12:15] mmikkel commented on #37
Sorry for the late response.

This should be covered by either Craft's [`upscaleImages`](https://craftcms.com/docs/4.x/config/general.html#upscaleimages) setting, or the Imager plugin's [`allowUpscale`](https://imager-x.spacecat.ninja/configuration.html#allowupscale-bool) setting, depending on which one Retcon is using to create the transforms.

[2022-10-18 12:20] mark-chief opened #45 "Conditionally add css class?"
Hello, is there way to conditionally add a class to an image based on a set width?

E.g if image width is larger than container div 640px wide then add `class="img-fluid"`.

Context behind this is to ensure that images in a redactor field scale to fit their container size. but only images that are too big.

Thanks

[2022-10-18 12:26] #45 closed

[2022-11-02 14:38] pioneerdesign opened #46 "extract first image and transform it"
I'm trying to show just the first image in a text field and then transform it.

Chaining these 2 don't seem to work:
  {{ entry.body | retconOnly('img') | retconTransform( { width : 470, height : 350 } ) }}

Is there a way to identify just the first image as well and ignore the rest?

[2022-11-02 14:51] mmikkel commented on #46
Not really, but you could probably hack it by doing something like

[code]

I.e. first use `retconOnly('img')` to make sure the HTML contains only `img` nodes; then use `retconOnly('img:first-child')` to strip out all those images except the first one (and finally, transform that).

[2022-11-02 14:51] #46 closed

[2022-11-02 14:56] pioneerdesign commented on #46
It appears this combination doesn't return anything:
{{ entry.body | retconOnly('img') | retconTransform( { width : 470, height : 350 } ) }}

but {{ entry.body | retconOnly('img')  }} works
Is there some other way to combine selecting an image and then transforming it?

[2022-11-02 15:08] mmikkel commented on #46
That should work, i.e. `{{ entry.body | retconOnly('img') | retconTransform( { width : 470, height : 350 } ) }}` should render all the `img` tags (and only the `img` tags) in the HTML, transformed, whereas `{{ entry.body | retconOnly('img') | retconOnly('img:first-child') | retconTransform( { width : 470, height : 350 } ) }}` should render only the first `img`, also transformed. Are you saying you

[2022-11-02 17:36] mmikkel commented on #46
Aha. So everything is actually working as expected, you're just running into an unfortunate gotcha:

When Imager is passed a _string_ (i.e. a URL or path) instead of an asset (which is necessarily the case when transforming images using Retcon), it will have no clue about the actual asset. When using the Imgix transformer, essentially this means that the string is simply appended as-is to your Imi

[2022-11-02 18:24] pioneerdesign commented on #46
Thanks so much! I fixed the source urls and all was golden.